@model IEnumerable<RopayDvd.Models.DvdCategory>

@{
    ViewData["Title"] = "DVD Categories";
}

<h4>@ViewBag.Title</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRestricted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeRestricted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryNumber">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
