@model IEnumerable<RopayDvd.Models.RopayUser>

@{
    ViewData["Title"] = "Ropay Users";
}

<h4>@ViewBag.Title</h4>
@if (User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPassword)
                </td>
                <td>
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.UserNumber">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.UserNumber" onclick="return confirm('Are you sure to delete?');">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.UserNumber">Change Password</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
