@model IEnumerable<RopayDvd.Models.Studio>

@{
    ViewData["Title"] = "Studio List";
}

<h4>@ViewBag.Title</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudioName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudioName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudioNumber">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.StudioNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
