@model IEnumerable<RopayDvd.Models.LoanType>

@{
    ViewData["Title"] = "Loan Types";
}

<h4>@ViewBag.Title</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanTypeNumber">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanTypeNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
